@import './common.scss';

.button {
  background: none;
  border: none;
  color: var(--statusbar-primary-color);
  padding: 0.4rem 0.4rem;
  font-family: var(--statusbar-font-family);
  font-weight: normal;
  font-size: 1em;
  cursor: pointer;

  @include icons;
}

.button:hover,
.active {
  background: rgba(255, 255, 255, 0.2);
}
