.button {
  background: none;
  border: none;
  color: var(--primary-color);
  padding: 0.3rem 0.4rem;
  font-family: var(--statusbar-font-family);
  font-weight: bold;

  &:hover {
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
  }
}
