.button {
  position: relative;
}

.dropdown {
  background-color: var(--statusbar-background-color);
  display: none;
  position: absolute;
  bottom: 100%;
  left: 0;
  padding: 0.5rem 0;
  max-height: 40vh;
  overflow-y: auto;
  cursor: default;
}

.open {
  display: flex;
  flex-direction: column;
  min-width: 12rem;
}

.option {
  display: block;
  text-align: left;
  flex: 1;
  padding: 0.4rem 1.5rem;
  cursor: pointer;
}

.separator {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin: 0.5rem 1rem;
}

.search {
  input {
    max-width: 100%;
    border: none;
    background-color: var(--statusbar-background-color);
    color: var(--statusbar-primary-color);
    padding: 0.2rem 0.4rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
}
