.button {
  position: relative;
}

.dropdown {
  background-color: var(--statusbar-background-color);
  display: none;
  position: absolute;
  bottom: 100%;
  left: 0;
}

.open {
  display: flex;
  flex-direction: column;
  min-width: 12rem;
}

.option {
  display: block;
  text-align: left;
  flex: 1;
  padding: 0.4rem 1.5rem;
}
