.button {
  position: relative;
}

.dropdown {
  background-color: var(--statusbar-background-color);
  display: none;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
}

.open {
  display: flex;
}

.option {
  text-align: left;
  flex: 1;
}
