@import './common.scss';

.progress {
  width: 200px;
  display: flex;
  align-items: center;
}

.bar {
  flex: 1;
  height: 50%;
  background: rgba(255, 255, 255, 0.4);
  overflow: hidden;
  position: relative;
}

.fill {
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
}

.marquee {
  width: 50%;
  animation: marquee 5s linear infinite;
}

.label {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--statusbar-background-color);

  @include icons;
}

@keyframes marquee {
  0% {
    transform: translate3d(-150%, 0, 0);
  }

  100% {
    transform: translate3d(250%, 0, 0);
  }
}
