.progress {
  width: 200px;
  display: flex;
  align-items: center;
}

.bar {
  flex: 1;
  height: 50%;
  background: rgba(255, 255, 255, 0.4);
}

.fill {
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
}
